input {
    all: unset;
    border-radius: 10px;
    font-size: 18px;
}

.inputNumber {
    width: 60px;
    height: 30px;
    background-color: #f1faee;
    text-align: right;
        margin-right: 7px;
}
