@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.mainContainer {

}

.elementContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.current {
    &--note {
        font-size: 700px;
        font-family: 'Kanit', sans-serif;
    }

    &--chord {
        font-size: 270px;
    }

}

.degree {
    font-size: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.next {
    &--note {
        font-size: 100px;
    }

    &--chord {
        font-size: 70px;
    }
    padding-left: 100px;

}

.elements {
    width: 300px
}

.displayedValue {
    top: 50%;
    right: 50%;
    color: #457b9d;
    font-size: 260px;
}

.logo {
    width: 230px;
    height: 230px;
}